@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        height: 100%;
        width: 100%;
        font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
    }

    body {
        @apply bg-zinc-800 h-full w-full flex justify-center items-center;
    }

    #root {
        @apply w-3/4 h-3/4 border-2 rounded border-zinc-700;
    }

    h1 {
        @apply font-serif font-black text-4xl;
    }
    h2 {
        @apply text-2xl font-bold mt-12 mb-6;
    }
    h3 {
        @apply text-xl font-semibold mt-10 mb-5;
    }
    h4 {
        @apply uppercase font-semibold mt-6 mb-4;
    }
    h4,
    h5,
    h6 {
        @apply mt-6 mb-4;
    }
    a {
        @apply text-blue-600 underline;
    }
    p {
        @apply leading-loose mb-6;
    }
    ul,
    ol {
        @apply ml-6 mb-6;
    }
    @screen sm {
        ul,
        ol {
            @apply ml-0;
        }
    }
    ul {
        @apply list-disc list-outside;
    }
    ol {
        @apply list-decimal list-outside;
    }
    li {
        @apply mb-6;
    }
    blockquote {
        @apply font-serif text-xl italic text-gray-700 border-yellow-900 border-l-8 pl-4 -ml-6 mb-6;
    }
    hr {
        @apply mb-6;
    }
    pre {
        @apply overflow-auto p-3 my-1;
        background-color: #f5f2f0;
    }
}

@layer components {
    .btn {
        @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
    }
}

@layer utilities {
    .flex-centered {
        @apply flex justify-center items-center;
    }
}
